@charset "utf-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "BMkkubulimTTF-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/BMkkubulimTTF-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  display: flex;
  justify-content: center;
}

#container-wrap {
  display: flex;
  justify-content: center;

  width: 100%;
  min-width: 17.5rem;
}

.inner-wrap {
  width: 50rem;
  min-width: 17.5rem;

  .area-1 {
    position: relative;
    width: 100%;
    height: 100dvh;
  }
  img {
    width: 100%;
    height: 100dvh;
    object-fit: cover;
  }
}

.up {
  top: 100px;
}

.invite-title {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3.75rem;
  text-align: center;
  font-family: "BMkkubulimTTF-Regular";
  color: orange;
  width: 100%;
  opacity: 0;
  animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, calc(-50% - 100px));
  }
}

.img-map {
  padding: 0.625rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  img {
    width: 33.33%;
    height: 33.33%;
    
  }
}

.swiper {
  width: 100%;
  height: 100dvh;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  .swiper-slide {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;

    img {
      width: 100%;
      height: fit-content;
      object-fit: contain;
    }
  }
}

.swiper-button-next:after {
  content: "next";
  color: orange;
}
.swiper-button-prev:after {
  content: "next";
  color: orange;
}
// @import "swiper/scss";
// @import "swiper/scss/navigation";
// @import "swiper/scss/pagination";
