* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "BMkkubulimTTF-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/BMkkubulimTTF-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NanumSquareNeoLight";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.ttf)
      format("truetype");
}

body {
  display: flex;
  justify-content: center;
}

#container-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 17.5rem;
}

.inner-wrap {
  width: 50rem;
  min-width: 17.5rem;
}
.inner-wrap .area-1 {
  position: relative;
  width: 100%;
  height: 100dvh;
}
.inner-wrap img {
  width: 100%;
  height: 100dvh;
  -o-object-fit: cover;
  object-fit: cover;
}

.up {
  top: 100px;
}

.invite-title {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3.75rem;
  text-align: center;
  font-family: "BMkkubulimTTF-Regular";
  color: orange;
  width: 100%;
  opacity: 0;
  animation: fadeUp 2s ease-in-out forwards;
}

.area-2 {
  padding: 3.125rem 0;
  text-align: center;
}

.area-2 .info {
  margin-bottom: 1.25rem;
  font-size: 1rem;
  line-height: 1.6875rem;
  font-weight: 600;
  font-family: "NanumSquareNeoLight";
  color: #474343;
}

.area-3 {
  text-align: center;
  padding-top: 1.25rem;
}

.wedding-date {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 2.375rem;
  font-family: "NanumSquareNeoLight";
}

.locate {
  font-size: 1.25rem;
  font-weight: 600;
  font-family: "NanumSquareNeoLight";
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, calc(-50% - 100px));
  }
}

#album {
  margin-top: 3.125rem;
}

h3 {
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 0.625rem;
}

.num {
  text-align: center;
}

.fake-swiper {
  width: 100%;
  margin-top: 1.25rem;
  z-index: 2;
  padding: 0 0.625rem;
}

.fake-swiper-wrapper,
.fake-swiper-slide {
  width: 100%;
  height: 100%;
}

.fake-swiper-slide img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.top-close-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.photo-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
#close-btn {
  width: 2.75rem;
  height: 2.75rem;
  color: #fff;
  background: transparent;
  border: 0;
  font-size: 1.5625rem;
}

.show-modal {
  display: block;
}

.swiper {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
}
.swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}
.swiper-wrapper .swiper-slide img {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: contain;
  object-fit: contain;
}
body.modal-open {
  overflow: hidden;
}
