* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "BMkkubulimTTF-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/BMkkubulimTTF-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NanumSquareNeoLight";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.ttf)
      format("truetype");
}
@font-face {
  font-family: "DungGeunMo";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
}

#container-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 17.5rem;
}

.inner-wrap {
  width: 50rem;
  min-width: 17.5rem;
}
.inner-wrap .area-1 {
  position: relative;
  width: 100%;
  height: 100vh;
}
.inner-wrap img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
}

.invite-title {
  position: absolute;
  top: 70%;
  left: 50%;
  /* transform: translateX(-50%); */
  font-size: 3.75rem;
  text-align: center;
  font-family: "BMkkubulimTTF-Regular";
  color: orange;
  width: 100%;
  opacity: 0;
  animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, calc(-50% - 100px));
  }
}

.area-2 {
  padding: 3.125rem 0 6.25rem;
  text-align: center;
}

.area-2 .info {
  margin-bottom: 1.25rem;
  font-size: 1rem;
  line-height: 1.6875rem;
  font-weight: 600;
  font-family: "NanumSquareNeoLight";
  color: #474343;
}

.area-3 {
  text-align: center;
  padding-top: 1.25rem;
}

.wedding-date {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 2.375rem;
  font-family: "NanumSquareNeoLight";
}

.locate {
  font-size: 1.25rem;
  font-weight: 600;
  font-family: "NanumSquareNeoLight";
}

#album {
  margin-top: 3.125rem;
}

h3 {
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 0.625rem;
  font-family: "NanumSquareNeoLight";
  color: #e9ae23;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.top-close-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.photo-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
#close-btn {
  width: 2.75rem;
  height: 2.75rem;
  color: #fff;
  background: transparent;
  border: 0;
  font-size: 1.5625rem;
}

.show {
  display: block;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  width: 100% !important;
  height: calc(100% - 3.125rem);
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  height: auto;
}

.swiper-wrapper .swiper-slide img {
  width: 100% !important;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: contain;
  object-fit: contain;
}
body.modal-open {
  overflow: hidden;
}

.swiper-button-next,
.swiper-button-prev {
  color: orange;
  height: 1.875rem !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: orange;
  font-size: 1.5625rem;
}

.swiper-pagination {
  bottom: 0;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background: orange;
}

.more {
  text-align: center;
}

#parents {
  margin-top: 4.375rem;
  padding: 1.25rem;
}

#parents p {
  font-family: "NanumSquareNeoLight";
  text-align: center;

  font-weight: 600;
  line-height: 1.75rem;
}

.map-location {
  margin-top: 3.125rem;
}

.account {
  width: 100%;
  border: 1px solid #594d30;
  margin-top: 1.875rem;
  border-radius: 10px;
}

.title-top {
  width: 100%;
  padding: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chang-detail {
  display: none;
  padding: 0 1.25rem 0.625rem;
}

#detail p {
  text-align: left !important;
}
.chang .name {
  color: #453ebb;
}

.yuri .name {
  color: #fc540d;
}

.bank {
  font-size: 0.875rem;
}

.yuri-detail {
  display: none;
  padding: 0 1.25rem 0.625rem;
}

.show-detail {
  display: block;
}
button.copied {
  background-color: #4caf50;
  color: white;
}
